<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<meta http-equiv="refresh" content="10">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>Add Subtask</title>

</head>
	<body>
		<div class="container">
			<h3>SubTask</h3>
			<hr>
			<p class="h4 mb-4">Add SubTask</p>
			<form action="#" th:action="@{/task/saveSubTask}" th:object="${subtask}" method="POST">
			<!--Add hidden form field to handle update-->
				<input type="hidden" th:field="*{id}" />
				<input type="text" th:field="*{title}" class="form-control mb-4 col-4"  placeholder="Title">
				<input type="hidden" th:field="*{task}" />
				
				<button type="submit" class="btn btn-info col-3">Add</button>
			</form>
			<hr>
			<a th:href="@{/board/listtask}">Back to Task Details</a>
		</div>
	</body>
</html>